<% page_header "Start Conversation" %>
<%= form_tag messages_path, method: :post do %>
	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
				<%= label_tag 'message[subject]', 'Subject' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<%= text_field_tag 'message[subject]', nil, size: 100, class: 'form-control', required: true %>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
			<%= label_tag 'message[body]', 'Message', class: " control-label" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<%= text_area_tag 'message[body]', nil, rows: 3, cols: 25, class: 'col-md-4 form-control', required: true %>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
				<%=  label_tag 'recipients', 'Choose recipients' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control chosen-it' %>
			</div>
		</div>
	</div>

	<%=  submit_tag 'Send', class: 'btn btn-primary' %>
	
<%end%>